 /* Author: Egor ROMANOV */

/* Figma Settings */

body {
    --accent-color: #AD1818;
    --dark-color: #121212;
    --light-color: #FFF;
    --body-color: #F5F5F5;
    font-family: 'Manrope', sans-serif;
    background: var(--body-color);
    color: var(--dark-color);
    letter-spacing: -0.03em;
}

h1 {
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
}

h2 {
    font-weight: 400;
    font-size: 45px;
    line-height: 61px;
    margin-bottom: 30px;
}

h2.about {
    max-width: 1085px;
    display: block;
}

h3 {
    font-weight: 400;
    display: block;
    font-size: 30px;
    line-height: 41px;
    margin: 15px 0;
}

.tag {
    display: block;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.project__item-link {
    font-size: 20px;
    line-height: 27px;
    color: var(--accent-color);
    text-decoration: none;
}

.project__item-link:hover {
    text-decoration: underline;
}

.more__prj-btn {
    font-size: 30px;
    line-height: 153px;
    color: var(--accent-color);
    display: block;
    border: 1px solid var(--accent-color);
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    transition: all 100ms linear;
}

.more__prj-btn:hover {
    color: var(--light-color);
    background-color: var(--accent-color);
}

.btn_accent {
    display: inline-block;
    padding: 20px 40px;
    background: var(--accent-color);
    border-radius: 5px;
    color: var(--light-color);
    font-size: 20px;
    line-height: 27px;
    text-decoration: none;
}

/* CONTAINER */

.container {
    background-color: var(--light-color);
    max-width: 1400px;
    min-width: 1150px;
    margin: 0 auto;
    padding-bottom: 1px;
}

/* CONTAINER — Dark theme */

.dark {
    padding-top: 150px;
    background-color: var(--dark-color);
}

.dark .tag, .dark h3 {
    color: var(--light-color);
}

/* CONTAINER — Img */

.image {
    height: 717px;
    background: url(../img/zpx_01.jpg);
    position: relative;
}

.image h3 {
    color: var(--light-color);
    width: 430px;
    left: 125px;
    bottom: 45px;
    position: absolute;
    letter-spacing: -0.03em;
}

/* blocks */

.block {
    margin: 0 auto;
    margin-bottom: 150px;
    width: 1150px;
}

.main__img {
    margin: 30px 0;
    height: 500px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%), url(../img/img_01.jpg);
    position: relative;

}

.main__img span {
    font-size: 20px;
    line-height: 27px;
    color: var(--light-color);
    width: 430px;
    left: 40px;
    bottom: 40px;
    position: absolute;
}

.project__item {
    margin-bottom: 90px;
}

.block__dark {
    background-color: var(--dark-color);
}
