.contacts {
    margin: 188px 0 130px 0;
}

.contacts__second-title {
    position: relative;
}

.contacts__second-title::before {
    content: '';
    position: absolute;
    top: -38px;
    left: -5px;
    height: 24px;
    width: 24px;
    background: url('../../img/contact_phone.svg') no-repeat;
}

.contacts__phone,
.contacts__email {
    display: inline-block;
    font-size: 60px;
    line-height: 60px;
    color: var(--dark-color);
    text-decoration: none;
    margin-bottom: 30px;
    position: relative;
}

.contacts__email {
    opacity: 0.5;
    transition: all calc(var(--speed-effect) * 3);
}

.contacts__email:hover {
    opacity: 1;
}

.contacts__email::after {
    content: '';
    display: block;
    opacity: 0.5;
    height: 2px;
    width: 100%;
    background-color: var(--dark-color);
    position: absolute;
    bottom: -10px;
}
