.contacts__item-tag {
    display: inline-block;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    margin-bottom: 30px;
    position: relative;
}

.contacts__item-tag::before {
    content: '';
    position: absolute;
    top: -35px;
    height: 22px;
    width: 50px;
    background: url('/img/contact_phone.svg') no-repeat;
    opacity: 0.2;
}

.contacts__item-phone,
.contacts__item-email {
    font-weight: 400;
    letter-spacing: -0.03em;
    display: block;
    font-size: 60px;
    line-height: 60px;
    text-decoration: none;
    color: var(--dark-color);
    margin-bottom: 30px;
}

.contacts__item-email {
    opacity: 0.5;
}
