footer {
    margin: 0 auto;
    max-width: 1400px;
    min-width: 1150px;
    padding: 60px 0 30px 0;
    background-color: var(--dark-color);
}

.footer__copyright {
    text-align: center;
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
    opacity: 0.5;

}
