.footer {
    padding: 20px 0;
    background-color: var(--dark-color);
}

.footer__copyright {
    text-align: center;
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.03em;
    color: var(--light-color);
    opacity: 0.5;

}
