/* TEMP HIDDEN */
.content_dark, .banner, #contacts
 { display: none;}
/* TEMP HIDDEN */

:root {
    --accent-color: #AD1818;
    --dark-color: #121212;
    --light-color: #FFF;
    --speed-effect: 100ms;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Manrope', sans-serif;
    color: var(--dark-color);
    letter-spacing: -0.03em;
}

h1, h2, p, a {
    font-weight: 400;
    letter-spacing: -0.03em;
    display: block;
}

/* MAIN PAGE */

.content {
    box-sizing: border-box;
}

.content_dark {
    padding-top: 150px;
    background-color: var(--dark-color);
}

.content__wrapper {
    box-sizing: border-box;
    max-width: 1150px;
    margin: 0 auto;
}

.main-title {
    font-size: 60px;
    line-height: 60px;
}

.second-title {
    display: inline-block;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.second-title_dark {
    color: var(--light-color);
    margin-bottom: 34px;
}

.welcome {
    margin: 30px 0 150px 0;
    height: 500px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%), url(../../img/img_01.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column-reverse;
}

.welcome__text {
    font-size: 20px;
    line-height: 27px;
    color: var(--light-color);
    max-width: 430px;
    padding: 40px;
}

.about {
    margin-bottom: 150px;
}

.about__text {
    font-size: 45px;
    line-height: 61px;
    margin-bottom: 30px;
    max-width: 1070px;
}

.about__button {
    display: inline-block;
    padding: 20px 40px;
    background: var(--accent-color);
    border-radius: 5px;
    color: var(--light-color);
    font-size: 20px;
    line-height: 27px;
    text-decoration: none;
}

.project {
    padding-bottom: 90px;
}

.project_dark {
    padding-bottom: 0;
}
.project_dark:last-child {
    padding-bottom: 88px;
}

.project__more-btn {
    font-size: 30px;
    line-height: 150px;
    color: var(--accent-color);
    display: block;
    border: 1px solid var(--accent-color);
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    transition: all var(--speed-effect) linear;
    margin-bottom: 150px;
}

.project__more-btn:hover {
    color: var(--light-color);
    background-color: var(--accent-color);
}

.project__img {
    width: 100%;
}

.project__descr {
    font-size: 30px;
    line-height: 35px;
    margin: 15px 0;
}

.project__descr_dark {
    color: var(--light-color);
    margin: 15px 0 65px 3px;
}

.project__link {
    font-size: 20px;
    line-height: 31px;
    color: var(--accent-color);
    text-decoration: none;
}

.project__link:hover {
    text-decoration: underline;
}

.banner {
    height: 716px;
    background: url(../../img/zpx_01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.banner__wrapper {
    display: flex;
    flex-direction: column-reverse;
    max-width: 1400px;
    margin: 0 auto;
    height: 100%;
    /* position: relative; */
}

.banner__text {
    font-size: 30px;
    line-height: 41px;
    color: var(--light-color);
    max-width: 430px;
    position: absolute;
    letter-spacing: -0.03em;
    padding: 0 0 60px 125px;
    /* bottom: 60px;
    left: 125px;  */
}
